:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 50px;
}

.header {
  font-size: 2.5em;
  font-weight: 500;
}

.inputField {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box; /* Important for padding to work */
}

.button {
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
th, td {
  padding: 8px 4px;
  border-bottom: 1px solid #555;
  text-align: left;
}
th {
  background-color: #333;
}
tr:hover {
  background-color: #3a3a3a;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

select.inputField {
  /* Make sure select dropdowns look like other inputs */
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  background-color: #fff;
  color: #242424;
  border: 1px solid #555;
}